htdocs/wp-admin/
htdocs/wp-includes/
htdocs/.htaccess
htdocs/index.php
htdocs/license.txt
htdocs/liesmich.html
htdocs/readme.html
htdocs/wp-activate.php
htdocs/wp-blog-header.php
htdocs/wp-comments-post.php
htdocs/wp-config.php
htdocs/wp-config-sample.php
htdocs/wp-config-stage.php
htdocs/wp-config-live.php
htdocs/wp-config-dev.php
htdocs/wp-config-production.php
htdocs/wp-cron.php
htdocs/wp-links-opml.php
htdocs/wp-load.php
htdocs/wp-login.php
htdocs/wp-mail.php
htdocs/wp-settings.php
htdocs/wp-signup.php
htdocs/wp-trackback.php
htdocs/xmlrpc.php
htdocs/config/
htdocs/wp-content/plugins/
htdocs/wp-content/mu-plugins/
htdocs/wp-content/languages/
htdocs/wp-content/uploads/
wp-content/upgrade/
wp-content/themes/*

.DS_Store

# don't ignore the theme you're using
!htdocs/wp-content/themes/yourthemename